<div class="field">
<%= f.label(:name, "Name your kitten:") %>
<%= f.text_field :name %>
</div>
<div class="field">
<%= f.label(:age, "Age your kitten:") %>
<%= f.text_field :age %>
</div>
<div class="field">
<%= f.label(:cuteness, "How cute (1-10):") %>
<%= f.text_field(:cuteness) %>
</div>
<div class="field">
<%= f.label(:softness, "How soft (1-10):") %>
<%= f.text_field(:softness) %>
</div>